@{
    ViewData["Title"] = "Voting Not Allowed";
}

<div class="container">

    <h1 class="mb-4">Voting Not Allowed</h1>
    <p>@ViewBag.Message</p>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary mb-3">Back to the main page</a>

</div>